img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 10%;
}
h1 {
    text-align: center;
    font-family: Bradley, Arial, Helvetica, sans-serif;
    color: #0d4e32;
    margin: 5px 5px 5px 5px;
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(39, 37, 37);
    color: white;
}